*.*prof
*.html
*.so
#*.c
#*.cpp

/scrabble/data/boards/*/
/scrabble/data/wordlists/.extra/
/scrabble/data/solutions/
!/scrabble/data/solutions/.empty
/test/
/old/
build/
__pycache__/
#.ipynb_checkpoints/
